.grid-container{
display: grid;
grid-template-columns: 100%;
grid-template-rows: 80PX ;
grid-gap: 10px;

}
.item-nested-container{
display: grid;
grid-gap: 10px;
grid-auto-rows: minmax(500px , auto);
grid-template-columns: 40% 60%;

}
.item1{
	border: 1px solid black;

}
.item2{
	border: 1px solid black;
}
.write_rep{
	border: 1px solid blue;
}
.student-posts{
  
	border: 1px solid blue;
}
#student_rep{
 
}