html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1.1fr 1.5fr 0.4fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 2.5fr 0.7fr;
  gap: 1px 1px;
  grid-template-areas: "header header header header" "post reponse reponse reponse" "post reponse reponse reponse" "post write_rep write_rep write_rep";
}

.header { grid-area: header; }

.reponse { grid-area: reponse; }

.write_rep { grid-area: write_rep; }

.post { grid-area: post; }

/* For presentation only, no need to copy the code below */
.grid-container * { 
 /*border: 1px solid red;*/
 position: relative;
}

.grid-container *:after { 
 /*content:attr(class);*/
 position: absolute;
 top: 0;
 left: 0;
}
